<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap-5.0.2-dist/js/jquery-3.6.0.js' %}"></script>
</head>
<body>
{% if user.is_authenticated %}
Вошёл как : {{user.username}}
<form action="{% url 'logoutuser'%}" method="POST">
    <button type="submit">Выйти</button>
    {% csrf_token%}
</form>
{% else %}
<a href="{% url 'signupuser'%}">Зарегистрироваться</a>
<a href="{% url 'loginuser'%}">Войти</a>
{% endif %}
{% block content %} {% endblock %}
</body>
</html>