{% extends 'wiki_app/base.html' %}
{% block title %} Wiki 2.0 {% endblock %}

{% block content %}
<ol>
{% for company in company %}
    <li><a href="{% url 'detail' company.id %}">{{ company.name }}</a></li>
{% endfor %}
</ol>
<h2>Добавить компанию</h2>
<h2>{{ error }}</h2>

<form method="POST" class="row g-3">
    {% csrf_token%}
    <div class="form-group">
        <label for="id_name" class="form-label">Название компании: </label> <input type="text" name="name" id="id_name" class="form-control">
        <button type="submit" class="btn btn-dark">Добавить</button>
    </div>
</form>

{% endblock %}