<div class="navbar-dark bg-dark header">
    <a class="navbar-brand" href="{% url 'wiki' %}">
        <img src="{% static 'wiki/logo.png' %}" width="38" height="38" class="d-inline-block align-top"></a>
    <a class="btn btn-outline-secondary" href="{% url 'wiki' %}">Главная</a>
    {% if user.is_authenticated %}
    <a href="#" onclick="$('#signOutBtn').click()" class="btn btn-outline-secondary">Выход</a>
    <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
        {% csrf_token %}
        <button id="signOutBtn" type="submit">Выход</button>
    </form>
    {% else %}
        <a class="btn btn-outline-secondary" href="{% url 'signupuser' %}">Регистрация</a>
        <a class="btn btn-outline-secondary" href="{% url 'loginuser' %}">Вход</a>
    {% endif %}
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Поиск</button>
    </form>
</div>