{% extends 'wiki_app/base.html' %}
{% block title %} Wiki 2.0 {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <h2>Добавить организацию</h2>
        </div>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token%}
            <div class="form-group">
                <label for="id_name" class="form-label">Название компании:</label>
                <input class="form-control me-2" type="text" name="name" id="id_name">
            </div>
            <button style="margin-top: 15px;" type="submit" class="btn btn-dark">Добавить</button>
        </form>
    </div>
    <div class="col-md-8 text-center">
        <h2>Список организаций</h2>
        <div class="list-group list-group-flush">
            {% for company in company %}
            <a href="{% url 'detail' company.id %}" class="list-group-item list-group-item-action text-center">{{ company.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}