{% extends 'wiki_app/base.html' %}
{% block title %}Добавить входящее письмо{{ company.name }}{% endblock %}

{% block content %}
<div class="text-center">
<h2>Добавить входящее письмо в {{ company.name }}</h2>
</div>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
 <div class="row justify-content-center">
    <div class="col-md-8">
    <form method="POST">
            {% csrf_token%}
    <input type="hidden" name="id_company" value="{{ company.id }}" required id="id_id_company">
<p><label for="id_incoming_number" class="form-label">Входящий номер:</label> <input class="form-control me-2" type="text" name="incoming_number" maxlength="250" id="id_incoming_number"></p>
<p><label for="id_incoming_date" class="form-label">Дата входящего:</label> <input class="form-control me-2" type="date"  name="incoming_date" id="id_incoming_date"></p>
<p><label for="id_number_sign" class="form-label">Подписной номер:</label> <input class="form-control me-2" type="text" name="number_sign" maxlength="250" id="id_number_sign"></p>
<p><label for="id_date_sign" class="form-label">Дата подписи:</label> <input class="form-control me-2" type="date" name="date_sign" id="id_date_sign"></p>
<p><label for="id_information" class="form-label">Информация:</label> <textarea class="form-control me-2" name="information" cols="40" rows="10" id="id_information">
</textarea></p>
<button style="margin-top: 15px;" type="submit" class="btn btn-dark">Добавить</button>
</form>
    </div>
 </div>
{% endblock %}