{% extends 'wiki_app/base.html' %}
{% block title %}Добавить входящее письмо{{ company.name }}{% endblock %}

{% block content %}
<h2>Добавить входящее письмо в {{ company.name }}</h2>
<h2>{{ error }}</h2>
    <form method="POST">
            {% csrf_token%}
    <input type="hidden" name="id_company" value="{{ company.id }}" required id="id_id_company">
<p><label for="id_incoming_number">Входящий номер:</label> <input type="text" name="incoming_number" maxlength="250" id="id_incoming_number"></p>
<p><label for="id_incoming_date">Дата входящего:</label> <input type="date" name="incoming_date" id="id_incoming_date"></p>
<p><label for="id_number_sign">Подписной номер:</label> <input type="text" name="number_sign" maxlength="250" id="id_number_sign"></p>
<p><label for="id_date_sign">Дата подписи:</label> <input type="date" name="date_sign" id="id_date_sign"></p>
<p><label for="id_information">Информация:</label> <textarea name="information" cols="40" rows="10" id="id_information">
</textarea></p>
<button type="submit">Добавить</button>
</form>

{% endblock %}