{% extends 'wiki_app/base.html' %}
{% block title %}Страница входа пользователя{% endblock %}

{% block content %}

<h2>Информация о письме</h2>
{{ messages.information }}<br>
<br>
<br>
<h2>Форма для изменения письма</h2>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<form method="POST">
    {% csrf_token%}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark" onclick="return confirm('Вы уверены, что хотите редактировать письмо?')">Редактировать письмо</button>
</form>

<form method="POST" action="{% url 'deletemessage' messages.id %}">
    {% csrf_token%}
<button type="submit" class="btn btn-danger" style="margin-top: 15px" onclick="return confirm('Вы уверены, что хотите удалить письмо?')">Удалить письмо</button>
</form>

{% endblock %}