{% extends 'wiki_app/base.html' %}
{% block title %}Поиск{% endblock %}
{% block content %}
{% load static%}
<div class="text-center">
<h1>Результат поиска:</h1>
</div>
<div class="text-center">
<h2>1. По письмам:</h2>
</div>
{% if messages %}
<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Тип письма</th>
      <th scope="col">Номер</th>
      <th scope="col">Дата</th>
      <th scope="col">Содержание</th>
        <th scope="col">Исполнитель</th>
    </tr>
  </thead>
    <tbody>
{% for message in messages %}
    <tr>
   {% if message.incoming_number %}<td>Входящее</td><td>{{ message.incoming_number }}</td>
        {% else %}<td>Исходящее</td><td>{{message.outgoing_number}}</td>{% endif %}
        {% if message.incoming_date is not Null %}<td>{{ message.incoming_date }}</td>{% endif %}
        {% if message.outgoing_date is not Null %}<td>{{ message.outgoing_date }}</td>{% endif %}
        <td><a href="{% url 'message' message.id %}">{{ message.information|truncatechars:100 }}</a></td><td>{{message.user}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="text-center">
    <h3>Поиск по письмам не дал результата</h3>
    <img src="{% static 'wiki/hands.jpg' %}" width="350" height="250">
</div>
{% endif %}
<div class="text-center">
<h2>2. По организациям:</h2>
</div>
{% if company %}
<div class="list-group list-group-flush">
{% for company in company %}
    <a href="{% url 'detail' company.id %}" class="list-group-item list-group-item-action text-center">{{ company.name }}</a>
{% endfor %}
</div>
{% else %}
<div class="text-center">
    <h3>Поиск по организациям не дал результата</h3>
    <img src="{% static 'wiki/hands.jpg' %}" width="350" height="250">
</div>
{% endif %}
{% endblock %}